apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: seguros
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: frontend
          image: jsalomia/frontend-seguros:1.1
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 5173
          env:
            - name: VITE_MS_CLIENTES_URL
              value: http://ms-clientes:8081
            - name: VITE_MS_PLANSEGURO_URL
              value: http://ms-planseguro:8082
            - name: VITE_MS_POLIZA_URL
              value: http://ms-poliza:8083
